:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.tab {
  padding: 4px 8px;
  font: var(--font-additional);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  &.active {
    transition: 0.3s;
    padding: 4px 16px;
    box-shadow: var(--shadow-inset);
    font: var(--font-additional-bold);
  }

  .icon {
    height: 24px;
  }

  .tab-name {
    font: inherit;
  }
}
