@let upgradeData = data();

<div
  class="upgrade"
  [class.buyable]="isCanBuy()"
  [class.clickable]="isCanBuy()"
  [class.resetless]="!upgradeData.isResetOnPrestige"
  (click)="clickBuy()"
>
  <p class="name">
    {{ upgradeData.name }}

    @if (level(); as level) {
      ({{ level }})
    }
  </p>
  <p class="description">{{ upgradeData.description }}</p>

  <p class="effects">
    @for (effect of effects(); track effect.paramKey) {
      <app-upgrade-effect [effect]="effect" />
    }
  </p>

  <div class="costs">
    @for (cost of parsedCosts(); track cost.key) {
      <app-resource [data]="cost" [isShort]="true" />
    }
  </div>
</div>
