:host {
  vertical-align: bottom;

  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.value {
  width: 100px;

  color: inherit;
}

.name {
  color: inherit;
}

.icon {
  height: 24px;
}
