.content {
  margin: 0 -8px 12px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;

  .action-buttons {
    padding: 0 8px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 12px;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
