:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background-dark: #232323;
  --color-background-semi-dark: #303030;
  --color-background-medium: #3e3e3e;

  --color-border: #ffffff;
  --color-border-disabled: #888888;

  --color-text-primary: #ffffff;

  --color-danger: #ff2424;

  --color-resource-money: #ffcc00;
  --color-resource-crystal: #59d4ff;
  --color-resource-prestige-points: #dddddd;
  --color-resource-ruby: #9b111e;

  --color-unlock-available: #94ff94;
  --color-unlock-bought: #ffd041;

  --color-resetless: #5ec5c8;
}

@function alpha($color, $opacity) {
  @return rgba(from $color r g b / $opacity);
}
