<p>
  Prestige resets most of yours parameters, resource and upgrades, but gives you
  <app-resource-simple [key]="resourceKeys.prestigePoints" />
</p>

@if (isBorderPassed()) {
  <p>
    <span>Performing now, you will get </span>
    <app-resource [data]="prestigePointsGain()" />
  </p>

  <button class="prestige-button" (click)="prestige()">
    <span>Perform prestige</span>
  </button>

  <p>
    <span>Prestige points coefficient: log</span>
    <sub>{{ prestigePointsCoefficient().toString() }}</sub>
    <span>(<app-resource-simple class="money-formula" [key]="resourceKeys.money" />)</span>
  </p>
} @else {
  <p>You haven't passed border to perform prestige</p>
  <p>The current border is: <app-resource [data]="prestigeBorder()" /></p>
  <p>You need to work harder!</p>
}
