@import 'mobile';

.resources {
  padding: 4px 8px;
  background-color: var(--color-background-dark);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  row-gap: 4px;

  @include mobile {
    justify-content: space-between;
  }
}
