@import 'shadow.scss';
@import 'color.scss';
@import 'font.scss';
@import 'common.scss';
@import 'icon.scss';
@import 'button.scss';
@import 'mobile.scss';

body {
  height: 100vh;

  margin: 0;
  user-select: none;
}
